{% extends 'website/base.html' %}
{% load static %}
{% block title %} Marketplace | Home {% endblock title %}
{% block content %}

  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Oops...</h1>
          <h2>There seems to be a problem with this URL</h2>
          <div><a href="{% url 'index' %}" class="main-btn mt-3 scrollto">Back to Homepage <i class="bx bx-arrow-from-left"></i></a></div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img style="height:87%; margin-top:3%;" src="{% static 'img/hero.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>



{% endblock content %}
