{% extends 'website/base.html' %}
{% load static %}
{% block title %} Marketplace | Create New Password {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<main id="main" class="main">
    <section class="section">
  

    <section id="services" class="services mt-5">
        <div class="container">

            <div class="section-title">
                <h2>Create New Password</h2>
                <p>Enter your new password below</p>
            </div>


            <div class="row">
            <div class="col-lg-4 text-center" style="margin-left:33%;">
                <div
                class="box-element form-group"
                id="form-wrapper">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form|crispy }}
                        <button style="margin-right:8%;" class="main-btn mt-3">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>


        </div>
    </section>


</section>
</main><!-- End #main -->
 
{% endblock content %}
