{% extends 'marketplace/base.html' %}
{% load static %}
{% block title %} Marketplace | Edit User Profile Industry {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<main id="main" class="main">

    <section>
        <div class="block mt-5">
            <h3 class="mb-3 text-center">Profile Industry Settings</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <button style="margin-right:8%;" class="main-btn mt-3">Save Changes</button>
            </form>
        </div>
    </section>

</main><!-- End #main -->
 
{% endblock content %}
