{% extends 'adminarea/base.html' %}
{% load static %}
{% block title %} Marketplace | Admin Account Settings {% endblock title %}
{% block content %}

<main id="main" class="main">
  <section class="section">


 <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Admin Account Settings</h2>
          </div>
        </div>
        <section class="no-padding-top no-padding-bottom">
         <section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active" aria-current="page">Account Settings</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{profile.imageURL}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3 text-dark">{{user.username|title}}</h5>
            <p class="text-muted mb-1">{{profile.bio}}</p>
            <p class="text-dark mb-4">{{profile.country}}</p>
            <p class="text-muted mb-4">Since {{profile.member_since}}</p>
          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Username</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.username|title}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile.phone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{profile.country}}</p>
              </div>
            </div>
            <a href="" class="main-btn mt-3">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</section>

    
</section>
</main><!-- End #main -->
 


       {% endblock content %}
