{% extends 'adminarea/base.html' %}
{% load static %}
{% block title %} Marketplace | Admin New Faq Category {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<main id="main" class="main">
    <section class="section">
  

<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Admin New Faq Category</h2>
        </div>
    </div>
    <section>
        <div class="block mt-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <button style="margin-right:8%;" class="main-btn mt-3">Create Category</button>
            </form>
        </div>
    </section>
</div>

</section>
</main><!-- End #main -->
 
{% endblock content %}
